*:not(i) {
    color: #212529;
}
body{
    background-color: #212529;

}
table {
    background-color: #0bc0c0;

}
.hasError {
    border-color: red;
    color: red;
}

.error-block {
    background-color: #ce6c6c;
}

.form-control {
    background-color: #ceeaea;
}
#login-text{
    color: darkred;
}
nav {
  color: #0bc0c0;
}

