
body {
    background-color: #434453;
    color: #0bc0c0;
    min-height: 100vh;
    font-size: calc(6px + 2vmin);
}
.hasError {
    border-color: red;
    color: red;
}

.error-block {
    background-color: #ce6c6c;
}

.form-control {
    background-color: #ceeaea;
}
#login-text{
    color: darkred;
}
nav {
  color: #0bc0c0;
}

